<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button title=""></ion-back-button>
      <ion-label color="light">Add Account</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  
  <form [formGroup]="registerForm.getForm()">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Contact Information</ion-card-title>
      </ion-card-header>
        <ion-item>
          <ion-input type="text" formControlName="name" label="Name" labelPlacement="floating" placeholder="Enter Name"></ion-input>
          <app-error-message [field]="registerForm.getForm().get('name')" error="required" message="Name is Required"></app-error-message>
        </ion-item>
        <ion-item>
          <ion-input type="email" formControlName="email" label="Email" labelPlacement="floating" placeholder="Enter Email"></ion-input>
          <app-error-message [field]="registerForm.getForm().get('email')" error="required" message="Email is Required"></app-error-message>
          <app-error-message [field]="registerForm.getForm().get('email')" error="email" message="Email is invalid"></app-error-message>
        </ion-item>
        <ion-item>
          <ion-input type="password" formControlName="password" label="Password" labelPlacement="floating" placeholder="Enter Password"></ion-input>
          <app-error-message [field]="registerForm.getForm().get('password')" error="required" message="Password is Required"></app-error-message>
          <app-error-message [field]="registerForm.getForm().get('password')" error="minlength" message="Minimum of 8 characters"></app-error-message>
        </ion-item>
        <ion-item>
          <ion-input type="password" formControlName="repeatPassword" label="Confirm Password" labelPlacement="floating" placeholder="Enter Password"></ion-input>
          <app-error-message [field]="registerForm.getForm().get('repeatPassword')" error="isntMatching" message="Passwords to not Match"></app-error-message>
        </ion-item>
        <ion-item>
          <ion-input type="tel" formControlName="phone" label="Phone Number" labelPlacement="floating" placeholder="Phone"></ion-input>
          <app-error-message [field]="registerForm.getForm().get('phone')" error="required" message="Phone number is Required"></app-error-message>
        </ion-item>
      <ion-button size="full" (click)="register()">Create Account</ion-button>
    </ion-card>
  </form>
</ion-content>
