<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button text="" color="success"></ion-back-button>
    </ion-buttons>
    <ion-title color="success">My History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-quote-notes-card [hasHeader]="true" status="added" quote="The future belongs to those who believe in the beauty of their dreams. - Eleanor Roosevelt"
    createdAt="03/29/2025" notes="Notes: I do believe in the power of going after your dreams!"></app-quote-notes-card>
  
  <app-quote-notes-card [hasHeader]="true" status="history" quote="The only limit to our realization of tomorrow will be our doubts of today. - Franklin D. Roosevelt"
   createdAt=" 03/28/2025" notes="Notes: I will do my best to keep all doubts out of my mind for the entire day!"></app-quote-notes-card>
  
   <app-quote-notes-card [hasHeader]="true" status="checked" quote="The only person who can bring you down is yourself. - Unknown"
   createdAt=" 03/28/2025" notes="This is probably the best quote and one to follow on a daily basis. I want to keep a positive attitude everyday!"></app-quote-notes-card>
     
</ion-content>
