<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button color="success"></ion-menu-button>
    </ion-buttons>
    <ion-title color="success">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list color="dark">
    <ion-item color="dark">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <h1>User Name</h1>
        <p>Inspirational days: <span class="number">100</span></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <app-quote-notes-card [hasHeader]="true" status="added" [quotes]="quoteText"
    createdAt="04/09/2025" > <!--notes="Notes: ">-->
    <ion-card-header header>
      <ion-card-subtitle>Last Inspirational Quote</ion-card-subtitle>
      <!--<ion-card-subtitle *ngIf="status == 'history'">History</ion-card-subtitle>
      <ion-card-subtitle *ngIf="status == 'checked'">Expiring</ion-card-subtitle> -->
    </ion-card-header>
    <ion-button color="light" fill="clear" size="full" footer (click)="goToHistory()">See All...</ion-button>
  </app-quote-notes-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="NewNotes()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
